



.select2-container{
  width: 100% !important;
}
select.davi-theme{
  display: none;
}

#contactForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 0;
    width: 70%;
      max-width: 1500px;
    min-width: 300px;
  }
  
  input.davi-theme {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button.davi-theme {
/*     background-color: #04AA6D;*/
    background-color: #050A30;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
/*     font-family: Raleway; */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
        margin: 10px;
    border-radius: 5px;
  }
  
  button.davi-theme:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
#prevBtn svg{
  transform: scale(-1,1);
}
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

.davi-theme{
  height: 50px;
}


/* multistepform */

.davi-customize {
  font-family: 'Inter', sans-serif;
}

.davi-customize * {
  font-family: 'Inter', sans-serif;
}

.custom-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.custom-flex-item {
  width: 50%;
}

.custom-form-group {
  margin-bottom: 15px;
  padding: 0 20px;
}

.custom-address {
  margin-bottom: 15px;
}

.custom-address:last-child {
  margin-bottom: 0;
}

.custom-form-label {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.custom-form-group input {
  border: 1px solid rgba(34, 34, 34, 0.3);
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

.custom-steps-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 30px;
}

.custom-steps-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  position: relative;
  background: white;
  transition: all 0.3s;
}

.custom-steps-circle span {
  position: absolute;
  top: -40px;
  line-height: normal;
  font-weight: 500;
  left: 50%;
  font-size: 16px;
  white-space: nowrap;
  transform: translateX(-50%);
}

.custom-steps-line {
  flex-grow: 1;
  height: 6px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

.custom-steps-line span {
  position: absolute;
  lef: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #0097B2;
  transition: all 0.3s;
}

.custom-steps-wrapper[data-step="1"] .s1c {
  border-color: #0097B2;
}

.custom-steps-wrapper[data-step="2"] .s1c {
  border-color: #0097B2;
  background: #0097B2;
}

.custom-steps-wrapper[data-step="2"] .s1l span {
  width: 100%;
}

.custom-steps-wrapper[data-step="2"] .s2c {
  border-color: #0097B2;
}

.custom-steps-wrapper[data-step="3"] .custom-steps-circle {
  border-color: #0097B2;
  background: #0097B2;
}

.custom-steps-wrapper[data-step="3"] .custom-steps-line span {
  width: 100%;
}

.custom-form-file-label {
  border: 1px solid rgba(34, 34, 34, 0.3);
  border-radius: 5px;
  padding: 30px 40px;
  margin-bottom: 30px;
}

.custom-form-file {
  background: rgba(0, 151, 178, 0.1);
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.custom-form-file-label h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.custom-form-file img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.custom-form-file p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
  max-width: 250px;
  margin: 0 auto;
  line-height: initial;
}

.custom-form-file p strong {
  color: #0097B2;
  font-weight: 600;
}

.custom-form-file input {
  display: none;
}

.custom-form-file-output {}

.custom-form-file-output-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.3);
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 30px;
}

.custom--file {}

.custom-form-file-output-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #0097B2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form-file-output-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.custom--image {
  padding: 8px;
}

.custom-form-file-output-name {
  width: calc(100% - 62px);
  padding-left: 15px;
  font-size: 18px;
  font-weight: 600;
}

.custom-multiple-dropdown {
  position: relative;
}

.custom-multiple-dropdown-main {
  width: 100%;
  padding: 10px;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid rgba(34, 34, 34, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  text-align: left;
  font-size: 16px;
  background: none;
  position: relative;
  padding-right: 45px;
}

.custom-multiple-dropdown-main::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 25px;
  height: 25px;
  pointer-events: none;
  background-image: url('{{ ' arrdown.svg' | asset_url }}');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
}

.custom-multiple-dropdown-main.custom-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
}

.custom-multiple-dropdown-main.custom-open+.custom-multiple-dropdown-list {
  display: block;
}

.custom-multiple-dropdown-main img {
  pointer-events: none;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

.custom-multiple-dropdown-main span {
  pointer-events: none;
  width: calc(100% - 38px);
  padding-left: 10px;
}

.custom-multiple-dropdown-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(34, 34, 34, 0.3);
  padding: 15px;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -1px;
  max-height: 325px;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
  background: white;
}

.custom-multiple-dropdown-list li {
  width: 100%;
  padding: 10px;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid rgba(34, 34, 34, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  margin-bottom: 10px;
}

.custom-multiple-dropdown-list li:last-child {
  margin-bottom: 0;
}

.custom-multiple-dropdown-list img {
  pointer-events: none;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

.custom-multiple-dropdown-list span {
  pointer-events: none;
  width: calc(100% - 38px);
  padding-left: 10px;
}


.custom-multiple-2-dropdown {
  position: relative;
}

.custom-multiple-2-dropdown-main {
  width: 100%;
  padding: 10px;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid rgba(34, 34, 34, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  text-align: left;
  font-size: 16px;
  background: none;
  position: relative;
  padding-right: 45px;
}

.custom-multiple-2-dropdown-main::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 25px;
  height: 25px;
  pointer-events: none;
  background-image: url('{{ ' arrdown.svg' | asset_url }}');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
}

.custom-multiple-2-dropdown-main.custom-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
}

.custom-multiple-2-dropdown-main.custom-open+.custom-multiple-2-dropdown-list {
  display: block;
}

.custom-multiple-2-badge {
  display: flex;
  background: rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  font-size: 12px;
  align-items: center;
  padding: 5px;
  flex: 0 0 85px;
  margin-right: 10px;
}

.custom-multiple-2-badge img {
  pointer-events: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.custom-multiple-2-badge span {
  pointer-events: none;
  width: calc(100% - 24px);
  padding-left: 5px;
  font-size: 12px;
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.custom-multiple-2-cross {
  font-style: normal;
  color: #222222;
}

.custom-multiple-2-dropdown-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(34, 34, 34, 0.3);
  padding: 15px;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -1px;
  max-height: 325px;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
  background: white;
}

.custom-multiple-2-dropdown-list::-webkit-scrollbar {
  width: 3px;
}

.custom-multiple-2-dropdown-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-multiple-2-dropdown-list::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-multiple-2-dropdown-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-multiple-dropdown-list::-webkit-scrollbar {
  width: 3px;
}

.custom-multiple-dropdown-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-multiple-dropdown-list::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-multiple-dropdown-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-multiple-2-dropdown-list li {
  width: 100%;
  padding: 10px;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid rgba(34, 34, 34, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  margin-bottom: 10px;
}

.custom-multiple-2-dropdown-list li:last-child {
  margin-bottom: 0;
}

.custom-multiple-2-dropdown-list img {
  pointer-events: none;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

.custom-multiple-2-dropdown-list span {
  pointer-events: none;
  width: calc(100% - 38px);
  padding-left: 10px;
}

.custom-hide {
  display: none !important;
}

.custom-multiple-2-badge-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.custom-multiple-2-badge-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-multiple-2-badge-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-multiple-2-badge-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-multiple-2-badge-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-step-title {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.phone-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-phone-button {
  width: 150px;
  justify-content: space-between;
  padding-right: 10px;
}

.custom-phone-button::after {
  display: none;
}

.custom-phone-button em {
  font-style: normal;
  font-size: 28px;
}

.custom-phone-inp {
  width: calc(100% - 165px) !important;
}

.custom-phone-list {
  width: 150px;
}

.custom-phone-list li {
  justify-content: space-between;
}

.custom-phone-list li em {
  font-style: normal;
  font-size: 24px;
  pointer-events: none;
}

{% comment %} [name="davi_input_phone"] {
  display: none;
} {% endcomment %}

@media screen and (max-width: 1200px) {
  #contactForm {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .custom-flex-item {
    width: 100%;
  }

  .custom-form-file-label {
    padding: 20px;
    margin-bottom: 15px;
  }

  #contactForm {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .custom-steps-circle span {
    font-size: 12px;
    min-width: 70px;
    top: -45px;
  }

  .custom-steps-circle {
    width: 35px;
    height: 35px;
    border: 3px solid rgba(0, 0, 0, 0.3);
  }

  .custom-steps-line {
    height: 3px;
  }
}
/* multistepform */